:root {
    --error: rgb(204, 64, 64);
    --success: rgb(2, 99, 2);
    // --warning: rgb(255, 205, 112);
}

.login__form__container {
    display: grid;
    grid-template-rows: 200px max-content 200px;
    grid-template-columns: 20em;
    justify-content: center;
    align-items: center;
    max-height: 65%;
    padding-top: 3rem;
}

.login__form__text__container {
    grid-row: 1 / 2;
    text-align: center;
}

.login__form__main__heading {
    font-size: 4rem;
    font-weight: 400;

    &::after {
        content: '.';
        color: red;
        font-weight: bold;
    }

    &::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }
}

.form__data {
    display: grid;
    gap: .2rem;
}

.login__form {
    grid-row: 2 / 3;
    align-self: start;

    &__label {
        font-size: .6rem;
        color: rgb(34, 34, 34);
        text-align: left;
        padding-top: .7rem;
    }

    &__submit__button {
        all: unset;
        font-size: .8rem;
        padding: .4rem 1.2rem;
        margin-top: .5rem;
        background-color: rgb(48, 48, 48);
        color: rgb(231, 231, 231);
        border-radius: .1rem;
        transition: background-color .3s;
        cursor: pointer;

        &:hover {
            background-color: rgb(245, 245, 245);
            color: black;
        }
    }
}

.reset__password__container {
    align-self: end;
    justify-self: end;
    padding-top: .5rem;
}

.reset__password__link {
    all: unset;
    font-size: .7rem;
    font-weight: 500;
    color: rgb(24, 24, 24);
    cursor: pointer;

    &:hover {
        color: rgb(59, 59, 59);
    }
}

.login__form__toaster__container {
    grid-row: 3 / 4;
}

.login__form__loader__container {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}