.login__form__container {
    display: grid;
    grid-template-rows: 200px max-content 200px;
    grid-template-columns: 20em;
    justify-content: center;
    align-items: center;
    max-height: 65%;
    padding-top: 3rem;
}

.login__form__text__container {
    grid-row: 1 / 2;
    text-align: center;
}

.login__form__main__heading {
    font-size: 4rem;
    font-weight: 400;

    &::after {
        content: '.';
        color: red;
        font-weight: bold;
    }

    &::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }
}

.form__data {
    display: grid;
    gap: .2rem;
}

.login__form {
    grid-row: 2 / 3;
    align-self: start;
}

.reset__password__container {
    align-self: end;
    justify-self: end;
    padding-top: .5rem;
}

.reset__password__link {
    all: unset;
    font-size: .7rem;
    font-weight: 500;
    color: rgb(24, 24, 24);
    cursor: pointer;

    &:hover {
        color: rgb(59, 59, 59);
    }
}

.login__form__toaster__container {
    grid-row: 3 / 4;
}

.login__form__loader__container {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}