*
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scrollbar-color: black;
  scrollbar-arrow-color: black;
  scrollbar-track-color: white;
  scrollbar-width: thin;
}

:global(.active) {
  outline: .1px solid skyblue;
  outline: .1px solid rgb(51, 51, 51);
  border-radius: .3rem;
}

.app__container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

ol,
ul {
  list-style: none;
}