* {
  box-sizing: border-box;
}

:global(.active) {
    outline: .1px solid skyblue;
    border-radius: .3rem;
}

.app__container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  width: fit-content;
}

