:root {
    --error: rgb(204, 64, 64);
    --success: rgb(44, 167, 44);
    --warning: rgb(255, 205, 112);
}

* html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scrollbar-color: black;
  scrollbar-arrow-color: black;
  scrollbar-track-color: white;
  scrollbar-width: thin;
}

:global(.active) {
  // outline: .1px solid skyblue;
  outline: .1px solid rgb(51, 51, 51);
  border-radius: .1rem;
}

.app__container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

ol,
ul {
  list-style: none;
}

input,
textarea {
  border-radius: .1rem;
  outline: none;
  border: 1px solid rgb(23, 23, 23);
  transition: border .2s;
  padding: .7rem;

  &:focus {
        border: 1px solid white;
        background-color: rgb(233, 233, 233);
        transition: border .2s;
    }

  &::placeholder {
    font-size: .6rem;
  }

  &:user-invalid {
    border: 1px solid white;
    outline: 1px solid var(--error);
  }

  &:user-valid {
    border: 1px solid white;
    outline: 1px solid var(--success);
  }

  
}