.reset__password__form__button__toggler {
    all: unset;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: .1rem;
    padding: .7rem 1.5rem;
    font-size: .7rem;
    transition: background-color .3s;
    margin-bottom: 1rem;

    &:hover {
        background-color: rgb(240, 240, 240);
        color: rgb(32, 32, 32);
        transition: background-color .3s;
    }
}

.update__password__form {
    display: grid;

    &__label {
        font-size: .7rem;
        font-weight: bold;
        margin-bottom: .5rem;
        text-align: end;
    }

    &__input {
        min-width: 15rem;
    }

    &__submit__button {
        all: unset;
        cursor: pointer;
        font-size: .7rem;
        width: fit-content;
        background-color: black;
        color: white;
        padding: .4rem 1.2rem;
        border-radius: .1rem;
        margin-top: .8rem;
        transition: background-color .3s;

        &:hover {
            background-color: rgb(250, 244, 244);
            color: black;
            transition: background-color .3s;
        }
    }
}