nav {
    background-color: rgb(65, 9, 9);
    // width: 100vw;
    padding: 2rem;
    text-align: right;

    a {
        padding: 1rem;
        color: white;
    }

    .greeting {
        color: rgb(177, 177, 177);
    }
}