.navigation__wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
    transition: active 5s;

    a {
        padding: .4rem;
        color: rgb(26, 25, 25);
        font-size: 1.2rem;
        text-decoration: none;

        &:hover {
            color: rgb(95, 109, 114);
        }
    }
}

// TODO: debug why when this class is added styles do not take effect
.sticky {
    position: sticky;
    top: 0;
    background-color: white;
}

@media (max-width: 1000px) {
    .navigation__wrapper a,
    .navigation__wrapper button {
        font-size: 1rem;
    }    
}

@media (max-width: 500px) {
    .navigation__wrapper a,
    .navigation__wrapper button {
        font-size: .7rem;
    }    
}

