.navigation__wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: .5rem;
    transition: active 5s;

    a {
        font-size: 1.2rem;
        font-weight: 300;
        padding: .4rem;
        color: rgb(17, 17, 17);
        text-decoration: none;
        transition: transform .2s;

        &:hover {
            color: rgb(54, 54, 54);
            transform: scale(1.1);
            transition: transform .2s;
        }
    }
}

// TODO: debug why when this class is added styles do not take effect
.sticky {
    position: sticky;
    top: 0;
    background-color: white;
}

@media (max-width: 1000px) {

    .navigation__wrapper a,
    .navigation__wrapper button {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {

    .navigation__wrapper a,
    .navigation__wrapper button {
        font-size: .95rem;
    }
}