.reset__password__container {
    display: grid;
    // grid-template-columns: max-content;
    grid-template-rows: 250px 1fr;
    justify-content: center;
    padding: 2rem;
}

.reset__password__text__container {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    padding: 2rem;
}

.reset__password__text__heading {
    font-size: 4rem;
    font-weight: 400;
    justify-self: center;
    margin: 0;

    &::after {
        content: '.';
        color: red;
        font-weight: bold;
    }

    &::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }
}

.reset__password__text__subheading {
    justify-self: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(37, 37, 37);
    margin: 0;
}

.reset__password__form {
    grid-row: 2 / 3;
    justify-self: center;
    width: 80%;

    &__label {
        font-size: .8rem;
        color: rgb(34, 34, 34);
        text-align: left;
        padding: .3rem 0;
    }
}

.form__data {
    display: grid;
    gap: .2rem;
}

.reset__password__form__submit__button {
    all: unset;
    font-size: .7rem;
    padding: .4rem 1.3rem;
    margin-top: 1rem;
    background-color: rgb(48, 48, 48);
    color: rgb(231, 231, 231);
    border-radius: .1rem;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(245, 245, 245);
        color: black;
    }
}