.reset__password__container {
    display: grid;
    // grid-template-columns: max-content;
    grid-template-rows: 250px fit-content fit-content;
    justify-content: center;
    padding: 2rem;
}

.reset__password__text__container {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    padding: 2rem;
}

.reset__password__text__heading {
    font-size: 4rem;
    font-weight: 400;
    justify-self: center;
    margin: 0;

    &::after {
        content: '.';
        color: red;
        font-weight: bold;
    }

    &::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }
}

.reset__password__text__subheading {
    justify-self: center;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    color: rgb(37, 37, 37);
    margin: 0;
}

.reset__password__form {
    grid-row: 2 / 3;
    justify-self: center;
    width: 80%;
}

.form__data {
    display: grid;
    gap: .2rem;
}

// state (success, loading, error) container styles 

.error__toaster__container {
    grid-row: 3 / 4;
    width: 80%;
    justify-self: center;
}

.success__modal__container {
    grid-row: 2 / 3;
}

.loader__container {
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}