.last__three__quotes__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.last__three__quotes__main__heading {
    font-size: .75rem;
    font-weight: 300;
    text-align: end;
    position: relative;

    // these styles add a nice red underscore under the last word of 'most recent quotes', decided to remove it for now, but keeping it as i may change my mind
    // &::after {
    //     content: '_______';
    //     width: 100%;
    //     height: .7rem;
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //     color: rgb(202, 0, 0);
    // }
}

.last__three__quote__wrapper {
    padding: 2rem;
    color: white;
    background-color: rgb(17, 13, 13);
    border-radius: .1rem;  
    transition: background-color .5s;

    &:hover {
        cursor: pointer;
        box-shadow: none;
        background-color: rgb(255, 252, 252);  
        color: rgb(17, 15, 15);
        transition: background-color .5s;
    }
}

.last__three__quote__text {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.2;
}

.last__three__quote__author__and__likes__wrapper {
    font-size: .5rem;
    display: flex;
    justify-content: space-between;
}

.last__three__quote__author {
    font-size: .7rem;
    font-weight: 300;
    align-self: end;
    margin: 0;
}

.likes__icon__and__likes__count__container {
    margin: 0;
    display: flex;
    align-self: end;
}

.last__three__quote__likes__count {
    font-size: .8rem;
    margin: 0;
    align-self: end;
}

// 
@media (max-width: 1000px) {
    .last__three__quotes__container {
        width: 80%;
    }
}

