.last__three__quotes__container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: .5rem;
}

.last__three__quotes__main__heading {
    font-size: .75rem;
    font-weight: 300;
    text-align: end;
    position: relative;

    // these styles add a nice red underscore under the last word of 'most recent quotes', decided to remove it for now, but keeping it as i may change my mind
    // &::after {
    //     content: '_______';
    //     width: 100%;
    //     height: .7rem;
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //     color: rgb(202, 0, 0);
    // }
}

.last__three__quote__wrapper {
    min-height: 100px;
    max-width: 400px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    color: rgb(24, 24, 24);
    border-radius: .1rem;  
    transition: background-color .5s;

    &:hover {
        cursor: pointer;
        box-shadow: none;
        background-color: rgb(255, 252, 252);  
        color: rgb(17, 15, 15);
        transition: background-color .5s;
    }
}

.last__three__quote__text {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.2;
}

.last__three__quote__author__and__likes__wrapper {
    font-size: .5rem;
    display: flex;
    justify-content: space-between;
}

.last__three__quote__author {
    font-size: .6rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
}

.last__three__quote__likes__icon {
    font-size: 1.5rem;
    color: red;
}

.likes__icon__and__likes__count__container {
    margin: 0;
    display: flex;
    align-self: end;
}

.last__three__quote__likes__count {
    font-size: .6rem;
    margin: 0;
    align-self: end;
}

