.register__form__container {
    display: grid;
    grid-template-rows: 200px max-content, 300px;
    grid-template-columns: 20em;
    justify-content: center;
    align-items: center;
    max-height: 65%;
    padding-top: 3rem;
    gap: 2rem;
}

.register__form__text__container {
    grid-row: 1 / 2;
    text-align: center;
}

.register__form__main__heading {
    font-size: 4rem;
    font-weight: 400;

    &::after {
        content: '.';
        color: red;
        font-weight: bold;
    }

    &::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }
}

.form__data {
    display: grid;
    gap: .2rem;
}

.register__form {
    grid-row: 2 / 3;
    align-self: start;
}

.register__form__toaster__wrapper {
    grid-row: 3 / 4;
}

.register__form__loader__container {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

.register__form__success__modal__container {
    grid-row: 2 / 3;
    align-self: start;
}