.quote__details__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr, 100px, 3fr, 100px, 1fr;
    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
}

.heading__container {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: center;

    &__main__text {
        text-align: center;
    }
}

.back__button {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: start;
    align-self: start;
}

.likes__details {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    justify-self: end;
    align-self: start;
}

.quote__details {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__text {
        font-size: 1.1rem;
        line-height: 1.35;
        font-weight: 300;
        width: 75%;
        align-self: center;
        text-align: center;
    }

    &__author {
        font-size: .6rem;
        font-weight: 500;
        align-self: end;
    }
}

.action__buttons {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    // border: 1px solid red;
    display: flex;
    // height: max-content;
    justify-content: space-between;
    align-items: center;
}

.like__component {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    justify-content: start;
    align-items: start;
}

.social__sharing {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    align-self: start;
    justify-self: end;
}

@media (max-width: 980px) {
    .action__buttons {
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }
}

.quote__details__loader__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
}

@media (max-width: 700px) {

    .back__button, 
    .likes__details {
        align-self: center;
    }

    .quote__details__text {
        font-size: 1rem;
        line-height: 1.4;
        width: 100%;
    }

    .quote__details__author {
        font-size: .65rem;
    }

    .action__buttons {
        flex-direction: row;
    }
}