.success__modal__container {
    border-radius: .1rem;
    padding: 1rem;
    border: 1px solid black;
}

.success__modal__icon__container {
    display: flex;
    justify-content: center;
}

.success__modal__heading {
    text-align: center;
    font-weight: 200;
}

.success__modal__subheading {
    text-align: center;
    font-weight: 300;
}

.success__modal__icon {
    color: rgb(13, 128, 13);
    font-size: 3rem;
}

.success__modal__seconds {
    display: inline-block;
    font-weight: bold;
}