<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="og:url"
        content="http://localhost:3000/quotes/{{quoteDetails.id}}" />
    <meta name="og:type" content="post" />
    <meta name="og:title" content="{{quoteDetails.author}}" />
    <meta name="og:description" content="{{quoteDetails.text}}" />

    {{!-- <link rel="stylesheet" href="./static/styles/styles.css" /> --}}
    <title>Quote Details Page</title>
</head>