.load__more__btn {
    margin: 0;
    padding: .5rem 3rem;
    border: none;
    border-radius: .1rem;
    background-color: rgb(23, 23, 23);
    color: white;
    font-weight: bold;
    font-size: .7rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
        background-color: rgb(228, 228, 228);
        color: black;
    }
}