.custom__select__container {
    background-color: black;
    padding: .1rem 1rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // for testing / implementation purposes hardcoding width
    width: 300px;

    &:hover {
        cursor: pointer;
    }
}

// TODO: align text in center and up / down arrow at the end of the container. at the moment they do not react to flex props: justify-self;

.custom__select__choice__text {
    padding: 0;
    color: white;
    font-size: .8rem;

    &__up__arrow {
        border-top: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }   


    &__down__arrow {
        border-bottom: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }
}

// options wrapper (dropdown menu) and individual / separate option styles
// for now, i will use the approach with toggling visibility / opacity, but consider the other oproach of toggling height and opacity as it may be better

.custom__select__options__list__wrapper {
    background-color: rgb(248, 248, 248);
    height: 200px;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .3s;
}

.custom__select__option__container {
    display: flex;
    justify-content: space-between;
    padding: 0 .3rem;
    background-color: rgb(235, 235, 235);

    &:hover {
        background-color: rgb(223, 223, 223);
        cursor: pointer;
    }
}

.custom__select__option {
    margin: 0;
    font-size: .8rem;
    padding: .5rem .5rem;
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

.custom__select__react__icon__container {
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
}

.custom__select__react__icon {
    color: rgb(29, 28, 28);   
}

.open {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s, visibility .3s;
}
