.edit__button {
    all: unset;
    font-size: .7rem;
    padding: .5rem 2.5rem;
    background-color: rgb(1, 1, 1);
    color: rgb(231, 231, 231);
    border-radius: .1rem;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(245, 245, 245);
        color: black;
    }
}