.edit__button {
    all: unset;
    padding: .5rem 2.1rem;
    color: rgb(66, 65, 65);
    // background-color: rgb(198, 255, 198);
    background-color: rgb(119, 219, 236);
    border-radius: .3rem;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
        background-color: rgb(30, 139, 158);
        color: rgb(245, 242, 242);
        outline: none;
    }
}