.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12rem;
    height: 14rem;
    background-color: rgb(12, 12, 12);
    color: rgb(238, 238, 238);
    border-radius: .5rem;
    padding: 1.2rem 1.7rem;
    transition: background-color .5s;
    list-style-type: none;

    &:hover {
        cursor: pointer;
        background-color: rgb(252, 252, 252);
        color: rgb(32, 32, 32);
    }

    &__text {
        text-align: end;
        font-size: .9rem;
    }

    &__author {
        font-size: .8rem;
        align-self: end;
    }

    &__more__btn {
        all: unset;
        font-weight: bold;
        font-size: .9rem;
        margin-left: .2rem;
    }
}

@media (max-width: 590px) {
    .card {
        // width: 15rem;
        width: 50%;
        height: 9rem;
        padding: 1rem 1.5rem;

        &__text {
            font-size: .8rem;
        }

        &__author {
            font-size: .7rem;
        }
    }


}

@media (max-width: 350px) {
    .card {
        width: 12rem;
        height: 10rem;
    }
}