.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12rem;
    height: 14rem;
    background-color: rgb(36, 35, 35);
    color: rgb(238, 238, 238);
    border-radius: .5rem;
    padding: 1.2rem 1.7rem;
    transition: background-color .5s;
    list-style-type: none;

    &:hover {
        cursor: pointer;
        background-color: rgb(252, 252, 252);
        color: rgb(32, 32, 32);
    }

    &__text {
        // color: rgb(27, 27, 27);
        text-align: end;
    }

    &__author {
        font-size: .8rem;
        align-self: end;
    }

    &__more__btn {
        all: unset;
        font-weight: bold;
        font-size: .9rem;
        margin-left: .2rem;
    }
}

@media (max-width: 590px) {
    .card {
        width: 18rem;
        height: 10rem;

        &__text {
            font-size: .9rem;
        }
    }


}

@media (max-width: 350px) {
    .card {
        width: 12rem;
        height: 10rem;
    }
}