.page__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote__container {
    width: 60%;

    &__quote__text {
        color:rgb(59, 54, 54);
    }
    
    &__category {
        text-align: right;
        color: rgb(66, 60, 60);
    }
}

