.quotes__container {
    padding: 1rem;
    background-color: rgba(227, 232, 235, 0.4);

    li {
        list-style-type: none;
    }
}

.quotes__list__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}