// animations
@keyframes noQuotesFoundAnimation {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

///

.quotes__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px, 200px, 1fr, 200px;
    justify-items: center;
    align-items: center;
}

.quotes__heading__wrapper {
    grid-row: 1 / 2;
    align-items: center;
    justify-items: center;

    &__main {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;

        &::after {
            content: '.';
            color: red;
            font-weight: bold;
        }

        &::first-letter {
            font-size: 5rem;
            font-weight: bold;
        }
    }

    &__secondary {
        font-weight: 300;
        text-align: center;
        margin: 0;
        padding: 0;
    }
}

// TODO: think if you can style / position it better
.quotes__search {
    grid-row: 2 / 3;
}

.quotes__list__wrapper {
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    padding-left: 0;
    gap: 1rem;
}

.quotes__noQuotesFound__message {
    grid-row: 3 / 4;
    align-self: start;
    font-size: 2.2rem;
    font-weight: 200;
    margin: 0;
    animation-name: noQuotesFoundAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    &::after {
        content: '.';
        color: red;
        font-weight: bold;
    }
}

.load__more__button__wrapper {
    grid-row: 4 / 5;
    margin-top: 2rem;
    margin: 0 auto;
}

// styles for small screens

@media (max-width: 600px) {
    .quotes__heading__wrapper__secondary {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .quotes__heading__wrapper__secondary {
        font-size: 1rem;
    }
}