.delete__button {
    all: unset;
    font-size: .8rem;
    padding: .5rem 2.1rem;
    color: rgb(207, 55, 55);
    border-radius: .1rem;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(243, 243, 243);
        color: black;
    }
}