.search__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: .5rem;
}

.input__wrapper {
    display: flex;
    justify-content: end;
}

.search__label {
    color: rgb(22, 22, 22);
    font-size: .8rem;
    font-weight: 350;
    align-self: end;
    padding-right: .3rem;
    padding-bottom: .3rem;
}

.search__input {
    border-radius: 1rem;
    padding: .3rem 1.7rem .3rem .6rem;
    outline: none;
    border: 1px solid rgb(26, 26, 26);
    font-size: 1rem;

    &::placeholder {
        font-size: .9rem;
        color: rgb(167, 167, 167);
    }

    &:focus {
        // border: 1px solid rgb(12, 161, 62);
        background-color: rgb(236, 236, 236);
    }
}

.search__button {
    all: unset;
    font-size: .8rem;
    padding: .5rem 1.5rem;
    margin-top: .5rem;
    background-color: rgb(48, 48, 48);
    color: rgb(231, 231, 231);
    border-radius: .5rem;
    transition: background-color .3s;
    cursor: pointer;
    align-self: start;

    &:hover {
        background-color: rgb(245, 245, 245);
        color: black;
    }
}

.clear__icon {
    all: unset;
    position: absolute;
    align-self: center;
    padding-right: .5rem;
    cursor: pointer;
}

@media (max-width: 350px) {

    // TODO: debug this. It's better to make input responsive and reduce width of parent
    .search__input {
        width: 200px;
    }
}