.add__form__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // TODO; red about min max, as it may be useful for heading in regards to responsiveness
    grid-template-rows: 250px max-content 200px;
}

.add__form__text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-items: center;

    &__heading {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 0;

        &::after {
            content: '.';
            color: red;
            font-weight: bold;
        }

        &::first-letter {
            font-size: 5rem;
            font-weight: bold;
        }
    }

    &__subheading {
        font-size: 1.2rem;
        font-weight: 300;
        bottom: 0;
    }
}

.add__form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    &__form__data {
        display: grid;
        gap: .2rem;
    }

    &__textarea {
        min-height: 6rem;
        resize: vertical;
    }

}

.add__form__loader__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
}

.add__form__toaster__container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: center;
}

.add__form__success__modal__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

// styles for smaller screens / responsiveness
@media (max-width: 1000px) {
    .add__form__container {
        max-width: 80%;
        margin: 0 auto;
    }

    .add__form {
        grid-column: 1 / 4;
    }

    .add__form__toaster__container {
        grid-column: 1/4;
    }

    .add__form__success__modal__container {
        grid-column: 1/4;
    }
}