.edit-quote__container {
    text-align: center;
    font-size: 2rem;
}

form {
    margin: 0 auto;
    padding: 0;
}

form textarea {
    width: 100%;
}

form select {
    width: 100%;
}

// for dev purposes // TODO: adjust accordingly when time comes to focus on css
.errorMessage {
    color: red;
    font-size: 1rem;
}