:root {
    --error: rgb(204, 64, 64);
    --success: rgb(44, 167, 44);
    --warning: rgb(255, 205, 112);
}

.edit__form__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // TODO; red about min max, as it may be useful for heading in regards to responsiveness
    grid-template-rows: 250px max-content 200px;
}

.form__data {
    display: grid;
}

.back__button__container {
    align-self: center;
    justify-self: center;
}

.edit__form__text__container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;

    &__heading {
        font-size: 4rem;
        font-weight: 400;
        margin: 0;

        &::after {
            content: '.';
            color: red;
            font-weight: bold;
        }

    }

    &__heading::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }

    &__subheading {
        font-size: 1.2rem;
        font-weight: 300;
        bottom: 0;
    }
}

.edit__form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;

    &__form__data {
        display: grid;
        gap: .2rem;
    }

    &__label {
        font-size: .9rem;
        color: rgb(78, 78, 78);
        text-align: left;
        padding: .3rem 0;
    }

    &__input,
    &__textarea,
    &__select {
        padding: .5rem .8rem;
        border-radius: .1rem;
        outline: none;
        border: none;
        background-color: rgb(248, 248, 248);
    }

    &__textarea {
        min-height: 6rem;
        resize: vertical;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: black;
        }

        &::-webkit-scrollbar-thumb {
            background-color: grey;
        }
    }

    &__input:user-invalid,
    &__textarea:user-invalid,
    &__select:user-invalid {
        outline: 2px solid var(--error);
    }

    &__input:user-valid,
    &__textarea:user-valid,
    &__select:user-valid {
        outline: 2px solid var(--success);
    }

    &__input:focus,
    &__textarea:focus,
    &__select:focus {
        outline: 2px solid var(--warning);
    }

    &__submit__button {
        all: unset;
        width: fit-content;
        font-size: .7rem;
        padding: .5rem 1.5rem;
        margin-top: .8rem;
        background-color: rgb(16, 16, 16);
        color: rgb(231, 231, 231);
        border-radius: .5rem;
        transition: background-color .3s;
        cursor: pointer;

        &:hover {
            background-color: rgb(245, 245, 245);
            color: black;
        }
    }
}

.edit__form__loader__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
}

.edit__form__toaster__container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.edit__form__success__modal__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

// temporary styles - just placing custom select in a acceptable place just so I can see it (working on its implementation at the moment)
.custom__select__wrapper {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 0;
}

// styles for smaller screens / responsiveness
@media (max-width: 500px) {

    .edit__form__container {
        max-width: 80%;
        margin: 0 auto;
    }

    .edit__form {
        grid-column: 1 / 4;

        &__input,
        &__textarea {
            font-size: .8rem;
            background-color: rgb(24, 23, 23);
            color: white;

            &:focus {
                background-color: rgb(243, 243, 243);
                color: black;
            }
        }

        &__textarea {
            min-height: 250px;
        }

        &__label {
            font-size: .7rem;
            font-weight: 500;
            margin-top: 1rem;
        }

        &__submit__button {
            width: fit-content;
            font-size: .7rem;
            padding: .4rem .9rem;
        }
    }
}