.edit__form__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // TODO; red about min max, as it may be useful for heading in regards to responsiveness
    grid-template-rows: 250px max-content 200px;
}

.form__data {
    display: grid;
}

.back__button__container {
    align-self: start;
    justify-self: center;
}

.edit__form__text__container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;

    &__heading {
        font-size: 4rem;
        font-weight: 400;
        margin: 0;

        &::after {
            content: '.';
            color: red;
            font-weight: bold;
        }

    }

    &__heading::first-letter {
        font-size: 5rem;
        font-weight: bold;
    }

    &__subheading {
        font-size: 1.2rem;
        font-weight: 300;
        bottom: 0;
    }
}

.edit__form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;

    &__form__data {
        display: grid;
        gap: .2rem;
    }

    &__textarea {
        min-height: 6rem;
        resize: vertical;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: black;
        }

        &::-webkit-scrollbar-thumb {
            background-color: grey;
        }
    }
}

.edit__form__loader__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
}

.edit__form__toaster__container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: center;
}

.edit__form__success__modal__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

// temporary styles - just placing custom select in a acceptable place just so I can see it (working on its implementation at the moment)
.custom__select__wrapper {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 0;
}

// styles for smaller screens / responsiveness
@media (max-width: 1000px) {

    .edit__form__container {
        max-width: 80%;
        margin: 0 auto;
    }

    .edit__form {
        grid-column: 1 / 4; 
    }

    .back__button__container {
        align-self: start;
        justify-self: start;
        margin-top: 1.5rem;
    }
}