.session__expired__container {
    position: absolute;
    z-index: 20;
    background: rgba(29, 28, 28, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.session__expired__content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 1rem;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem 5rem;
}

.session__expired__main__text {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;

    &::first-letter {
        font-weight: bold;
        font-size: 3rem;
    }

    &::after {
        content: '.';
        font-weight: bold;
        color: red;
    }
}

.session__expired__secondary__text {
    color: rgb(51, 50, 50);
    text-align: center;
    margin: 0;
}

.session__expired__button {
    all: unset;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: .5rem 1.7rem;
    border-radius: .5rem;
    font-size: .7rem;
    font-weight: 400;
    transition: background-color .3s;
    width: fit-content;
    margin-top: 1.5rem;

    &:hover {
        background-color: rgb(241, 241, 241);
        color: black;
        transition: background-color .3s;
    }
}
