.session__expired__container {
    position: absolute;
    z-index: 20;
    background: rgba(29, 28, 28, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.session__expired__content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: .1rem;
    padding: 2rem 5rem;
}

.session__expired__main__text {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;

    &::first-letter {
        font-size: 3rem;
    }

    &::after {
        content: '.';
        font-weight: bold;
        color: red;
    }
}

.session__expired__secondary__text {
    font-size: .75rem;
    color: rgb(24, 24, 24);
    text-align: center;
    margin-top: .5rem;
}

