.session-expired__container {
    position: absolute;
    z-index: 20;
    background: rgba(56, 55, 55, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
